@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin-top: 2em;
  padding-top: 5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background .2s;
  font-family: Lato, sans-serif;
  color: #222;
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:focus {
  color: inherit;
  outline: 0;
}


body.suggestions #search-suggestions {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

body.help #help.overlay,
body.form #search-form.overlay {
  visibility: visible;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}