#buscador input,
#buscador button,
#buscador input:focus,
#buscador button:focus {
    font-size: 2em;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-family: Lato, sans-serif;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5em;
}
#buscador input::placeholder{

}

#buscador {
    padding: 2em;
    background: #111;
    transition: background-color .5s;
    box-sizing: border-box;
    z-index: 2;
}

#buscador>div {
    width: 100%;
}

#search-input,
#search-input:focus {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
}

#search-suggestions {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.search-suggestion {
    padding: .7em 1em;
    white-space: nowrap;
    font-size: 1.1em;
    cursor: pointer;
}

.search-suggestion.highlight {
    background-color: #fff;
    color: #222;
}

.search-suggestion b {
    position: relative;
    font-weight: 400;
}

.search-suggestion b::after {
    content: ' ';
    position: absolute;
    top: 51%;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    opacity: .8;
}

.search-suggestion.highlight b::after {
    opacity: 0;
}



