#clock {
    display: block;
    margin-top: -.06em;
    font-size: 5rem;
    letter-spacing: .05em;
    cursor: pointer;
    padding-left: 1em;
}

.date {
    font-size: 0.8em;
    color: gray;
}

.seconds{
    font-size: 0.7em;
}